# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
pubspec_overrides.yaml

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/Generated.xcconfig

# macOS / Windows / Linux
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.cc

# IDE
.idea/
.vscode/
*.iml
